body{
	color: #808000;
	background-color: #FFE4B5;
	font-family: arial, helvetica, sans-serif;
	font-size: 100%}
h1{
	color: #808000;
	background-color: #F4A460;
	font-size: 3.75em;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 3px 2px 1px #808000;
	margin: 20px;
	}
h2{
	color: #808000;
	background-color: #FFDAB9;
	font-size: 2.5em;
	text-align: center;
	margin: 10px;
}
h3{
	color: #808000;
	background-color: #FFA500;
	font-size: 1.875em;
	text-decoration: underline;
}
p{
	text-indent: .5em;
	font-style: italic;
}
li{
	line-height: 150%;
}
dt{
	line-height: 300%;
}
div
{
	width: 50%;
	margin-top: 100px;
	margin-right: 100px;
	margin-left: 250px;
	margin-bottom:100px;
	text-align: center;
}